*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#titulo{
    color: black;
    margin-top: 180px;
    font-size: 50px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 500;
}

body{
    background-image: url(Fundo\ Diploma.jpeg);
    border: 20px solid gainsboro;
    background-repeat: no-repeat;
    background-size: cover;
}

main{
    width: 97.5vw;
    height: 93.69vh;
    border: 20px solid gainsboro;
    text-align: center;
    border-bottom: 5px solid black;
    border-left: 5px solid black;
    border-right: 5px solid black;
    border-top: 5px solid black;
    
}

p{
    margin: auto;
    margin-top: 20px;
    width: 900px;
    font-size: 30px;
    font-style: oblique;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#brasa{
    width: 280px;
    height: 150px;
    position: absolute;
    top: 60px;
    left: 40px;
}

#assinatura{
    margin: auto;
    width: 300px;
    height: 100px;
    margin-top: 50px;
    margin-right: 750px;
}

#escrita{
    margin: auto;
    margin-left: 0px;
}

#assinatura2{
    margin-top: auto;
    width: 300px;
    position: absolute;
    height: 150px;
    margin-top: -150px;
    margin-left: 250px;
}

#escrita2{
    margin: auto;
    margin-left: 750px;
}

#bandeira{
    margin: auto;
    position: absolute;
    margin-left: 400px;
    margin-top: 50px;

}
